build/
docs/sphinx/
docs/.doctrees/
docs/.buildinfo/
outputs/
*.pyc
__pycache__/
*.sh
*.log
*.nii
*.png
experiments/INTs/INT_Outputs/*
experiments/INTs/INT_Results/*
cheat_sheet.md
data/simulated_wc_data